<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script src="{% static 'app/javascript/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app/javascript/script.js' %}"></script>
</head>
<body>
<div align="center" style="font-size: 20px; margin-top: 150px;">
    <form action={% url 'comparison-details' %} method="post">{% csrf_token %}
    <label>Departments:</label><br>
    <select name="dep1" id="dep1">
        {% for dep in deps %}
        <option value="{{ dep.id }}">{{ dep }}</option>
        {% endfor %}
    </select>
    <select name="dep2" id="dep2">
        {% for dep in deps %}
        <option value="{{ dep.id }}">{{ dep }}</option>
        {% endfor %}
    </select><br>
    <button id="btn1" type="submit" onclick="script.js">Сравнить</button><br>
    <input type="checkbox" name="v1" value="1">Кол-во сотрудников в отделе<br>
    <input type="checkbox" name="v2" value="2">Суммарная стоимость проданных товаров<br>
    <input type="checkbox" name="v3" value="3">Суммарная стоимость не проданных товаров<br>
    <input type="checkbox" name="v4" value="4">Суммарная стоимость всех товаров<br>
    <input type="checkbox" name="v5" value="5">Количество проданных товаров<br>
    <input type="checkbox" name="v6" value="6">Количество не проданных товаров<br>
    <input type="checkbox" name="v7" value="7">Количество всех товаров<br>
    </form>
</div><br>
<div align="center" style="margin-top: 200px">
    <a href={% url 'main' %}>
        <button>На главную</button>
    </a>
</div>
</body>
</html>