<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center" style="font-size: 20px; margin-top: 300px">
    <form action={% url 'dep' shop_id dep.id %} method="post">{% csrf_token %}
        <table>
            <tr>
                <td>DEP SPHERE</td>
                <td><input type="text" name="dep_sphere" value={{ dep.sphere }}></td>
            </tr>
            <tr>
                <td>DEP STAFF AMOUNT</td>
                <td><input type="text" name="dep_staff_amount" value={{ dep.staff_amount }}></td>
            </tr>
        </table>
        <input type="hidden" name="_method" value="PUT">
        <button type="submit">Изменить</button>
    </form>
</div>
</body>
</html>