<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% for item in items %}
        {% if item.department %}
            Name: {{ item.name }}<br>
            Description: {{ item.description }}<br>
            Price: {{ item.price }}<br>
            Comments: {{ item.comments }}<br>
            DepStaff: {{ item.department.staff_amount }}<br><br>
        {% endif %}
    {% endfor %}
</div>
<a href={% url 'main' %}><button>Назад</button></a>
</body>
</html>