<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
</head>
<body>
<div align="center" style="font-size: 20px; margin-top: 300px;">
    <form action={% url 'main' %} method="post">{% csrf_token %}
    <label for="name">Shops:</label><br>
    <select name="name" id="name">
        {% for shop in shops %}
        <option value="{{ shop }}">{{ shop }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Открыть</button>
    </form>
</div><br>
<div class="query">
    <div align="center">
        Все товары на "а"
        <a href={% url 'filter-item' 1 %}>
        <button>Показать</button>
        </a>
    </div>
    <div align="center">
        Товары дороже 10, в отделе с кол-вом сотрудников < 50
        <a href={% url 'filter-item' 2 %}>
        <button>Показать</button>
        </a>
    </div>
    <div align="center">
        Товары дороже 20 или в отделе с кол-вом сотрудников > 50
        <a href={% url 'filter-item' 3 %}>
        <button>Показать</button>
        </a>
    </div>
    <div align="center">
        Товары с id 1|3|5|6
        <a href={% url 'filter-item' 4 %}>
        <button>Показать</button>
        </a>
    </div>
    <div align="center">
        Товары, у которых (цена > 10, в названии есть "a") или цена < 20 и в названии есть "о"
        <a href={% url 'filter-item' 5 %}>
        <button>Показать</button>
        </a>
    </div>
    <div align="center">
        Товары, с ценой, равной кол-ву сотрудников + 10
        <a href={% url 'filter-item' 6 %}>
        <button>Показать</button>
        </a>
    </div><br><br>
    <div align="center">
        shop1
        <a href={% url 'filter-shop' 1 %}>
        <button>Показать</button>
        </a>
    </div><br>
    <div align="center">
        shop2
        <a href={% url 'filter-shop' 2 %}>
        <button>Показать</button>
        </a>
    </div><br>
    <div align="center">
        shop3
        <a href={% url 'filter-shop' 3 %}>
        <button>Показать</button>
        </a>
    </div><br>
    <div align="center">
        shop4
        <a href={% url 'filter-shop' 4 %}>
        <button>Показать</button>
        </a>
    </div><br><br>
</div>
</body>
</html>